<div style="width: 100%; text-align: center; font-family: Arial; padding: 2rem 0 2rem 0;">
    <div>
        <img style="height: 5rem;" src="https://site212209.tw.cs.unibo.it/logos/logo.png" alt="Logo Animal House"/>
    </div>

    <h1 style="font-size: 2rem">BENVENUTO IN ANIMAL HOUSE</h1>
    <div style="text-align: left; font-size: 1rem; text-align: center">
        <p style="margin-bottom: 0.5rem">Ciao {{name}}, grazie per aver scelto Animal House.</p>
        <p style="margin-bottom: 1rem; margin-top: 0">Per iniziare a usare i nostri servizi, ti chiediamo di verificare il tuo indirizzo email.</p>
    </div>

    <div>
        <a href="{{verification_url}}" style="text-decoration: none;">
            <div style="margin: auto; margin-top: 2rem; width: fit-content; padding: 0.5rem 2rem 0.5rem 2rem; background-color: #ff9421; border: 1px solid #d87000; border-radius: 2rem; color: black; font-size: 1rem;">
                Verifica email
            </div>
        </a>

        <div style="margin-top: 1rem;">
            <p style="margin: 0;">Oppure utilizza questo link</p>
            <a href="{{verification_url}}" style="text-decoration: none;">{{verification_url}}</a>
        </div>
    </div>
</div>