.container-order {
    border: 1px solid #cecece;
    border-radius: 0.5rem;
}

.listitem-product {
    border: none;
    border-top: 1px solid #cecece70;
    border-bottom: 1px solid #cecece70;
    list-style-type: none;
}
.list-product > .listitem-product:first-of-type {
    border-top: none;
}
.list-product > .listitem-product:last-of-type {
    border-bottom: none;
}