.image-box {
    height: 25rem;
    width: 100%; 
    border: 1px solid lightgray;
}

.image-selector-button {
    background-color: transparent;
    border: 0;
    outline: 0;
    height: 6rem; 
    width: 6rem;
    padding: 0.5rem
}


.image-selector-button[class*="active"], .image-selector-button:hover, .image-selector-button:focus, .image-selector-button:active {
    border-bottom: 0.15rem solid black;
}