<div id="_loading-container" class="fixed-top top-0 start-0 w-100 vh-100" style="background-color: #70707050; display: none; z-index: 1000000;">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Caricamento...</span>
        </div>
    </div>
</div>

<script>
    function showLoading() {
        $("#_loading-container").show();
    }

    function hideLoading() {
        $("#_loading-container").hide();
    }
</script>